
.gridBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 100px;
    border-radius: 20px;
}

@media screen and (max-width: 1200px) {
    .gridBox {
        grid-template-columns: repeat(1, 1fr);
    }
  }
